.aboutImg {
  display: block;
  margin: 2rem auto;
}
.aside {
  text-align: center;
  font-size: small;
  margin: auto;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  border-left: 3px solid orange;
  width: fit-content;
}
.forMobile {
  display: none;
}
.aboutDiv {
  align-items: center;
  margin: auto;
  font-size: 1.1rem;
  line-height: 2.5rem;
  padding: 2%;
}
.aboutDiv p {
  display: block;
  margin: auto;
}
.aboutTitle {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}
.aboutContainer {
  width: 70%;
  min-height: 85vh;
  margin: auto;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.aboutContainer h2 {
  text-align: center;
}
.h3Header {
  color: orange;
  font-size: larger;
  margin: 1rem 0;
}
.h4Header {
  color: orange;
  font-size: larger;
  margin: 1rem 0;
}
.vwcTag {
  color: orange;
}
.firstLetter {
  font-size: 2.5rem;
  color: orange;
}
.name2 {
  color: orange;
  font-size: 3rem;
}
.cohortSection {
  display: flex;
  flex-direction: column;
  margin: inline;
  padding-bottom: 3rem;
}
.cohortSection .h4Header {
  display: block;
  margin: auto;
  padding: 2rem;
}
.cohortSection p {
  width: 60%;
  margin: auto;
  line-height: 2.5rem;
  font-size: 1rem;
}
@media only screen and (max-width: 1200px) {
  .aboutContainer {
    flex-wrap: wrap;
    width: 100%;
  }
  .aboutDiv {
    width: 60%;
  }
  .aboutImg {
    width: 100%;
  }
}

/* Tablet View */

@media screen and (max-width: 768px) {
  .aboutContainer {
    flex-wrap: wrap;
    width: 100%;
  }
  .forMobile {
   display: block;
   text-align: center;
   padding: 1rem 0;
  }
  .imageDiv {
    display: none;
  }
  .aboutImg {
    width: 100%;
  }
  .aboutDiv {
    padding-top: 5rem;
    width: 85%;
  }
  .cohortSection p {
    width: 85%;
  }
  .aboutTitle {
    display: none;
  }
}

/* Mobile View */
@media only screen and (max-width: 480px) {
  .aboutImg {
    width: 100%;
  }
  .aboutContainer {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
  .aboutContainer p {
    font-size: 1rem;
  }
  .aboutDiv {
    width: 80%;
  }
  .cohortSection p {
    font-size: 1rem;
    width: 80%;
  }
}
