/* Start of Project Section */
.projectsContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 5rem 0;
}

.individualContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  padding-left: 1rem;
}

.cardsSection {
  background-color: transparent;
  border: none;
  border-bottom: 5px solid transparent;
  transition: all ease 0.3s;
  margin: 2rem 0;
}

.cardsSection:focus, .cardsSection:hover {
  border-bottom: 5px solid orange;
}

.cardsSection p {
  text-decoration: none;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.forMobile {
  display: none;
}

.forDesktop {
  display: block;
}

.cardsSection h4 {
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.cardsSection img {
  display: block;
  width: 50;
  padding: 1rem 0;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.projectDisplay p {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 1rem 0;
}

.name2 {
  color: orange;
  font-size: 4rem;
}

.projH2 {
  text-align: center;
  margin-bottom: 2rem;
  transition: all ease 0.3s;
}

/* End of Project Section */

/* Mobile View */
@media only screen and (max-width: 768px) {
  .projectsContainer {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    padding: 1rem 0;
  }
  
  .individualContainer {
    flex-direction: row;
    width: fit-content;
    padding: 0;
  }
  .cardsSection {
    order: -1; /* Place cards section above project display */
  }

  .cardsSection img {
    width: 100px;
    padding: 0;
  }

  .forDesktop {
    display: none; /* Hide elements for desktop view */
  }
}
